@using Infra
@model LoginProvider.ViewModels.Auth.LoginViewModel
@{
    this.ViewBag.Title = "Login";
    this.Layout = null;
    Dependencies.RequireFile("~/Scripts/jquery-1.11.1.js");
    Dependencies.RequireFile("~/Scripts/jquery.unobtrusive-ajax.js");

    Dependencies.RequireFile("~/Content/Auth/Login.css");
    Dependencies.RequireFile("~/Content/Auth/Login.js");
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>@ViewBag.Title</title>

    @Dependencies.RenderStyles()
    @Dependencies.RenderScripts()

</head>
<body>
    <div class="login-box">
        <div class="header">
            <h1>Login</h1>
        </div>
        <div class="content">
            @if (this.ViewBag.NotSafe == true)
            {
                <span>Cannot login due to security reasons.
                    You have probably been tricked into accessing this login page.
                </span>
            }
            else
            {
                <form action="@this.Url.Action("Login", "Auth")" method="post">
                    <div class="msg">
                        By entering your credentials you will be login to site X.
                    </div>
                    <input type="hidden" name="ReturnUrl" value="@this.ViewBag.ReturnUrl" />
                    <div class="editor-group">
                        <div class="editor">
                            <label for="@Html.IdFor(m => m.Login)">User name</label>
                            @this.Html.EditorFor(m => m.Login)
                        </div>
                        <div class="editor">
                            <label for="@Html.IdFor(m => m.Password)">Password</label>
                            @this.Html.EditorFor(m => m.Password)
                        </div>
                    </div>
                    <button class="button2 btnGreen" type="submit">Enter</button>
                </form>
            }
        </div>
        <div class="footer">
            <a>
                <span>Login provided by: </span>
                <strong>Login Provider</strong>
            </a>
        </div>
    </div>
</body>
</html>
